.done_card_container {
  min-width: 245px;
  width: 18vw;
  border-radius: 1rem;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.7rem 0rem;
}
.done_card_section {
  min-width: 225px;
  width: 16.7vw;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 1rem;
  align-items: center;
}
.done_card_container .done_card_section_up {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: start;
}
.done_card_section_up .sec_left {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}
.sec_left .priority_sec {
  display: flex;
  align-items: center;
  justify-content: start;
  column-gap: 0.3rem;
}
.sec_left .color {
  width: 8px;
  height: 8px;
  display: inline-block;
  border-radius: 50%;
}
.sec_left .task_priority {
  font-size: 9px;
  font-weight: 500;
  color: #707070;
  text-transform: uppercase;
}
.sec_left .task_title {
  font-size: 15px;
  font-weight: 500;
}
.done_card_container .done_card_section_middle {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 0.5rem;
}
.done_card_container .done_card_section_middle .sec_up {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.done_card_container .done_card_section_middle .sec_up .expand {
  display: flex;
  justify-content: center;
  text-align: center;

  background-color: #eeecec;
  font-size: 1.4rem;
}
.done_card_container .done_card_section_middle .sec_up .checklist {
  font-size: 14px;
}
.done_card_container .done_card_section_down {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.done_card_container .don_card_section_down .btn_left {
  width: max-content;
}
.done_card_container .done_card_section_down .btn_left > button {
  width: max-content;
  padding: 0.4rem 0.5rem;
  background-color: green;
  color: white;

  font-size: 0.5rem;
  border-radius: 0.5rem;

  border: none;
}
.done_card_container .done_card_section_down .btn_right {
  width: 100%;
  text-align: end;
}

.done_card_container .done_card_section_down .btn_right > button {
  width: max-content;
  padding: 0.4rem 0.5rem;
  background-color: #eeecec;
  color: #5a5a5a;
  font-size: 0.5rem;
  border-radius: 0.5rem;
  border: none;
  margin-left: 0.2rem;
  cursor: pointer;
}
.done_card_container .sec_down {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}
.done_card_container .task_sec {
  width: 90%;
  display: flex;
  border: 1px solid #e2e2e2;
  border-radius: 0.6rem;
  justify-content: start;
  align-items: center;
  padding: 0.5rem;
}
.done_card_container .task_sec .check_box {
  padding-left: 4rem;
  display: inline-block;
}
.done_card_container .task_sec .task {
  display: inline-block;
  padding-left: 0.5rem;
}
.done_card_container .check_box_sec {
  display: inline-block;
}
.done_card_container .sec_right {
  position: relative;
}

.done_card_container .sec_right .options_off {
  display: none;
}
.done_card_container .sec_right .options_on {
  top: 70%;
  position: absolute;
  right: 0;
  z-index: 20;
  width: 7rem;
  height: 6rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 0.5rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0.5rem 1rem;
}
.done_card_container .sec_right .options_on > span {
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
}
.done_card_container .sec_right .options_on .delete {
  color: #cf3636;
}
